body{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    background-color: #293427;
}
.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 100%;
    background-color: #8F2F2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.menu{
    margin-right: 200px;
    font-size: 16px;
    font-weight: 600;  
    padding-left: 500px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -300px;

   
}

.menu ul li{
    width: 100px;
}
.menu ul li a{
text-decoration: none;
color: bisque;

}
.menu ul li a:hover{
    color: black;
}
.vertical-line{
    color: aliceblue;
    width: 3px;
    height: 100px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.contact_info{
    position: relative;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    padding: 0;
}
.contact_info_text{
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.library {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.library_image {
    width: 100%;
    height: 832px;
    background-image: url(../images/liblary_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
.library_text_title {
    font-family: "Irish Grover", serif;
    font-size: 100px;
    font-weight: 600;
    color: white;
    background-color: #8F2F2F;
    padding: 54px;
}
.library_text {
    align-items: center;
    padding-left: 20px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #293427;
}
.trending {
    color: #d48852;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}
h1 {
    font-size: 24px;
    margin: 10px 0;
    font-size: xx-large;
}
.description {
    font-size: 14px;
    line-height: 1.6;
}
.buttom {
    color: white;
    padding: 10px 20px; 
    margin: 15px 0;
   justify-content: center;
}
.happy-reading {
    font-size: large;
    font-weight: bold;
    margin-left: 175px;
}
.misto{
    display: flex;
    justify-content: center;
  padding: 50px; 
  
}
.misto_title{
    color: grey;
    font-size: large;
}
.cin{
color: rgb(32, 31, 31);
font-size: large;
margin-top: -10px;
}
.misto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 10px;
    padding-top: 100px;
    background-color: #454A34;
}
.misto > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.misto > div > img {
    width: 300px;
    height: 400px; 
    object-fit: cover; 
}
.bottom{
    background-color: #8F2F2F;
    font-size: xx-large;
    color: #8F2F2F;
}
.custom-footer {
    padding: 40px 20px;
    background-color: #000000;
    color: #fff;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    background-color: #000000;
}
.footer-title {
    font-size: 28px;
    margin-bottom: 20px;
}
.footer-socials img {
    width: 24px;
    margin-right: 10px;
}
.footer-info .footer-text {
    margin: 10px 0;
    line-height: 1.6;
    padding-right: 350px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #333;
}
.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-nav a:hover {
    text-decoration: dashed;
}
.wrapper_text:first-child{
    color: chartreuse;
    font-size: small;
}
.wrapper_text:last-child{
    color: chartreuse;
    font-size: small;
}
.wrapper_text:hover{
color: #8F2F2F;
transition: 0.5s;
cursor: pointer;
font-size: 25px;
font-weight: 700;
text-decoration: underline;
text-underline-offset: 5px;
text-decoration-color: rebeccapurple;
text-decoration-thickness: 3px ;
text-decoration-skip-ink: none;
}
.wrapper_text:active{
    color: darkorange;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
}
.wrapper_text:visited{
    color: #d48852;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}



























